* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  color: ghostwhite;
}

main {
  padding: 12px;
  height: 100%;
  flex: 1 1 auto;
  background: steelblue;
}

/* The trick is to have a wrapping aside that maintains the dimensions */
aside {
  height: 200px;
  flex: 0 0 200px;
}

/* Position fixed on the box so it follows the viewport as we scroll */
#box {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background: crimson;
}

p {
  padding: 4px 0;
  width: 100%;
  word-wrap: break-word;
}