* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 24px;
  font-family: roboto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-position:
    top 0px left 0px,
    top 0px right 0px,
    bottom 0px right 0px,
    bottom 0px left 0px;
  
  background-size: 150px;
  background-repeat: no-repeat;
  
  background-image:
    url(./top_left.svg),
    url(./top_right.svg),
    url(./bottom_right.svg),
    url(./bottom_left.svg)
  
}