*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: steelblue;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #fafafa;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -8px;
}
.menu__toggler span::after {
  top: 8px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #005c9c;
  top: 0px;
}
.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu {
  position: absolute;
  left: -30%;
  z-index: 1;
  color: steelblue;
  background: rgba(250, 250, 250, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}
.menu.active {
  left: 0;
}
