body {
  background: url(./buk.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
  cursor: none;
}

.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle, transparent 100px, rgba(0, 0, 0, 0.85) 160px);
}
