*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  width: 400px; 
  position: relative;
}

input {
  outline: none;
  width: 100%;
  padding: 12px;
}

input ~ .outline:before,
input ~ .outline:after{
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 0; 
  height: 2px; 
  background-color: red; 
  transition: 0.2s; 
  transition-delay: 0.2s;
}

input ~ .outline:after{
  top: auto; 
  bottom: 0; 
  right: auto; 
  left: 0; 
  transition-delay: 0.6s;
}

input ~ .outline i:before,
input ~ .outline i:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 2px; 
  height: 0; 
  background-color: red; 
  transition: 0.2s;
}

input ~ .outline i:after{
  left: auto; 
  right: 0; 
  top: auto; 
  bottom: 0; 
  transition-delay: 0.4s;
}

input:focus ~ .outline:before,
input:focus ~ .outline:after{
  width: 100%; 
  transition: 0.2s; 
  transition-delay: 0.6s;
}

input:focus ~ .outline:after{
  transition-delay: 0.2s;
}

input:focus ~ .outline i:before,
input:focus ~ .outline i:after{
  height: 100%; 
  transition: 0.2s;
}

input:focus ~ .outline i:after{
  transition-delay: 0.4s;
}
