* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  height: 100vh;
  grid-template-areas: "navbar navbar navbar"
                       "left_addbar main_content right_addbar"
                       "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

.navbar:hover,
.left_addbar:hover,
.main_content:hover,
.right_addbar:hover,
.footer:hover {
  background: purple;
  transition: 0.2s ease-in-out all;
}

.navbar {
  background: steelblue;
  grid-area: navbar;
}

.left_addbar {
  background: gold;
  grid-area: left_addbar;
}

.main_content {
  background: lawngreen;
  grid-area: main_content;
}

.right_addbar {
  background: hotpink;
  grid-area: right_addbar;
}

.footer {
  background: steelblue;
  grid-area: footer;
}