* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.87) 30%, rgba(0, 0, 0, 0.9) 50%, black);
  min-height: 100vh;
}

.text {
  color: slateblue;
  font-size: 184px;
  width: 100%;
  text-align: center;
  font-family: roboto;
  position: relative;
}

.text::before {
  content: '';
  width: 110%;
  height: 120px;
  position: absolute;
  bottom: -140px;
  left: -5%;
  background: radial-gradient(ellipse at center, black 15%, white 22%,rgba(255, 255, 255, 0) 70%); 
}