* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: steelblue;
  color: white;
}

img {
  max-width: 100%;
}

.screenshot-container-parent {
  perspective: 1000px;
  perspective-origin: 50% 50%; 
}

.screenshot-container {
  top: 10vh;
  left: 8vw;
  width: 80%;
  display: block;
  margin-bottom: 44px;
  border-radius: 4px;
  border: 3px solid #DDD;
  position: absolute;
  transform: rotateY(0);
  transition: all ease-in-out 280ms;
}

.screenshot-container:hover {
  transform: rotateY(-15deg);
}

.window-row {
  line-height: 1;
  background-color: #DDD;
  padding: 2px 4px;
}

.window-option {
  display: inline-block;
  background-color: red;
  width: 8px;
  margin-right: 2px;
  height: 8px;
  border-radius: 50%;
}