* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:root {
  --green: #008744;
  --blue: #0057e7;
  --red: #d62d20;
  --yellow: #ffa700;
  --white: #eee;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.circle {
  animation: rotate 2s linear infinite;
}

.path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 140;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 140;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 140;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: var(--red);
  }
  40% {
    stroke: var(--blue);
  }
  66% {
    stroke: var(--green);
  }
  90% {
    stroke: var(--yellow);
  }
}
