* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: steelblue;
  color: white;
  min-height: 100vh;
}

label { 
  margin-right: 10px;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 600px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.front  { 
  transform: translateZ(-100px) rotateY(0deg);
 }

.cube.right  { 
  transform: translateZ(-100px) rotateY(-90deg);
 }
.cube.back   { 
  transform: translateZ(-100px) rotateY(-180deg);
 }

.cube.left   { 
  transform: translateZ(-100px) rotateY(90deg);
 }

.cube.top    { 
  transform: translateZ(-100px) rotateX(-90deg);
}

.cube.bottom { 
  transform: translateZ(-100px) rotateX(90deg);
}

.cube__side,
.cube__side--front,
.cube__side--back,
.cube__side--left,
.cube__side--right,
.cube__side--top,
.cube__side--bottom {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 30px;
  font-family: roboto;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__side--front { 
  background: blueviolet;
}

.cube__side--right { 
  background: gray;
}

.cube__side--back { 
  background: green;
}

.cube__side--left { 
  background: slateblue;
}

.cube__side--top { 
  background: slategray;
}

.cube__side--bottom { 
  background: crimson;
}

.cube__side--front { 
  transform: rotateY(0deg) translateZ(100px);
}

 .cube__side--right { 
  transform: rotateY(90deg) translateZ(100px);
}

 .cube__side--back { 
  transform: rotateY(180deg) translateZ(100px);
}

 .cube__side--left { 
  transform: rotateY(-90deg) translateZ(100px);
}

 .cube__side--top { 
  transform: rotateX(90deg) translateZ(100px);
}

 .cube__side--bottom { 
  transform: rotateX(-90deg) translateZ(100px);
}
