* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: steelblue;
  color: white;
  padding: 16px;
}

ul {
  display: flex;
}

ul:hover li:not(:hover) {
  opacity: 0.5;
}

li {
  list-style-type: none;
  padding: 0 10px;
  transition: all 0.2s;
}

li:not(:last-child) {
  border-right: 2px solid #d2d5e4;
}
